<div class="container-fluid">
    <div class="row justify-content-center mt-5">

        <div class="card bg-dark p-4 col-md-6 mt-5 col-11 border border-success animate__animated animate__rollIn">
            <h2 class="text-white text-center card-title"><i class="bi bi-box"></i> {{title}} <i class="bi bi-box"></i></h2>
            <h6 class="card-subtitle mb-2 text-success text-center"><strong>Choose the mode you want to use </strong><i class="bi bi-chat-dots"></i></h6>
            <div class="card-body text-center">
                <a routerLink="/userMenu"><button type="button" class="btn btn-outline-success text-white mb-3 col-md-6"><strong><i class="bi bi-search"></i> Search Carpooling</strong></button></a>
                <br>
                <a routerLink="/carpoolingMenu"><button type="button" class="btn btn-outline-success text-white mb-3 col-md-6"><strong><i class="bi bi-truck"></i> Provide Carpooling Service</strong></button></a>
            </div>
        </div>

    </div>
</div>