<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="card bg-dark p-4 col-md-6 mt-5 col-11 border border-success animate__animated animate__slideInRight">
            <a routerLink="/menu"><button type="button" class="btn btn-outline-danger mb-3 text-white"><i class="bi bi-arrow-left-circle"></i><strong> Back</strong></button></a>
            <h2 class="text-white text-center card-title"><i class="bi bi-emoji-heart-eyes-fill"></i> {{title}} <i class="bi bi-emoji-heart-eyes-fill"></i></h2>
            <h6 class="card-subtitle mb-2 text-success text-center"><strong>Choose the option you require </strong><i class="bi bi-chat-dots"></i></h6>
            <div class="card-body text-center">
                <a routerLink="#"><button type="button" class="btn btn-outline-success text-white mb-3 col-md-6"><strong><i class="bi bi-bell"></i> Request in progress</strong></button></a>
                <br>
                <a routerLink="#"><button type="button" class="btn btn-outline-success text-white mb-3 col-md-6"><strong><i class="bi bi-journal-text"></i> History of trips taken</strong></button></a>
                <br>
                <a routerLink="#"><button type="button" class="btn btn-outline-success text-white mb-3 col-md-6"><strong><i class="bi bi-geo-alt-fill"></i> Manage your ways</strong></button></a>
                <br>
                <a routerLink="#" class="btn btn-outline-danger text-white mb-3 col-md-6 disabled" tabindex="-1" role="button" aria-disabled="true"><strong>Go to Active Service </strong> <i class="bi bi-arrow-right-circle"></i></a>
            </div>
        </div>
    </div>
</div>
